In [30]:
import  pandas as pd
import numpy as np

### 1. Create a Pandas Series
- Create a Pandas Series with the numbers `[10, 20, 30, 40, 50]`.
- Find the mean and standard deviation of the Series.

---

In [31]:
s = pd.Series([10, 20, 30, 40, 50])
print(s)
print(s.mean())
print(s.std())

0    10
1    20
2    30
3    40
4    50
dtype: int64
30.0
15.811388300841896

### 2. Series Creation and Basic Information
- Create a Pandas Series named fruits containing the following fruits: "apple", "banana", "orange", "grape", "kiwi".  Print the Series and its data type.  Then, access and print the second element of the Series.

In [32]:
fruits = pd.Series(["apple", "banana", "orange", "grape", "kiwi"])
print(fruits)
print(fruits.dtypes)
print(fruits[1])

0     apple
1    banana
2    orange
3     grape
4      kiwi
dtype: object
object
banana

3. Series with Custom Index

- Create a Pandas Series named **prices** representing the prices of the fruits above.  Use the fruit names as the index. The prices are: apple - 1.0, banana - 0.5, orange - 0.75, grape - 2.0, kiwi - 1.5. Print the Series.

In [33]:
price = {'apple' : 1.0, 'banana' :0.5, 'orange' : 0.75, 'grape' : 2.0, 'kiwi' : 1.5}
price_series = pd.Series(price)
print(price_series)

apple     1.00
banana    0.50
orange    0.75
grape     2.00
kiwi      1.50
dtype: float64

4. Accessing Data with Labels

- Using the prices Series, print the price of "grape" and "banana"

In [34]:
print(price_series['grape'])
print(price_series['banana'])

2.0
0.5

5. Slicing Series
- Using the prices Series, print the prices of the fruits from "banana" to "grape" (inclusive)

In [35]:
price_series['banana':'grape']

banana    0.50
orange    0.75
grape     2.00
dtype: float64

6. Series Operations

Create a new Series called **discounted_prices** by applying a 10% discount to each **price** in the prices Series. Print the **discounted_prices**.

In [36]:
discounted_price = price_series*0.9
print(discounted_price)

apple     0.900
banana    0.450
orange    0.675
grape     1.800
kiwi      1.350
dtype: float64

7.  Checking for Missing Values

Add a missing value (NaN) to the **prices** Series for a new fruit "mango" with a price of NaN.  Then, use the **.isnull()** method to check for missing values and print the result.

In [37]:
price_series['mango']= np.nan
print(price_series)

apple     1.00
banana    0.50
orange    0.75
grape     2.00
kiwi      1.50
mango      NaN
dtype: float64

In [38]:
price_series.isnull().sum()

np.int64(1)

8. Filtering Data

Using the **prices** Series, print the names of the fruits that **cost** more than 1.0.

In [39]:
price_series[price_series>1.0]

grape    2.0
kiwi     1.5
dtype: float64

9.  Applying Functions to Series

Exercise: Create a function that adds " (expensive)" to the **fruit** name if its **price** is greater than 1.0. Apply this function to the prices Series and print the result.

In [40]:
def label_expensive(fruit_price):
  if fruit_price > 1.0:
    return str(fruit_price) + " (expensive)" # .
  return fruit_price
price_series.apply(label_expensive)

apple                 1.0
banana                0.5
orange               0.75
grape     2.0 (expensive)
kiwi      1.5 (expensive)
mango                 NaN
dtype: object