In [2]:

import pandas as pd
import numpy as np

DATA DESCRIPTION
```
file name -> Columns
quater-i.csv -> ['order_id', 'quantity', 'item_id', 'choice_description_id' 'item_price']
items.csv -> ['item_id', 'item_name']
```
Dataset Link - https://drive.google.com/drive/folders/1Z0kaFybvgFeczeUj4dldUnhTdloLqLsL?usp=share_link

In [3]:
# import like this
items_path = "../datasets/items.csv"
q1_path = "../datasets/quarter-1.csv"
q2_path = "../datasets/quarter-2.csv"
q3_path = "../datasets/quarter-3.csv"


q1= pd.read_csv(q1_path)
q2 = pd.read_csv(q2_path)
q3 = pd.read_csv(q3_path)

items = pd.read_csv(items_path)

### `Q:1-5`
1. You are given three quater files, your job is to append these three files and make a single dataframe.
2. Have a index as Q-1 Q-2 Q-3 for respective quater files in the dataframe
3. Your are given a file items.csv which has item_id and item_name. Find out most sold items in each quarter.
4. Find out items which has made most revenue in each quarter.
5. Find out avg order price of each quarter.

***Note: item_price is given as str with $ sign, in earlier task you have converted this to rupees, here too first convert item_price field in rupees.***

In [4]:
# 1,2
# Merge quarter datasets into a single dataframe
temp_df = pd.concat([q1, q2, q3], keys=['Q1', 'Q2', 'Q3'])
temp_df

        order_id quantity item_id choice_description_id item_price
Q1 0           1        1       1                     1     $3.39
   1           1        1       2                     2     $3.39
   2           2        2       4                     3    $16.98
   3           4        1       7                     6     $9.25
   4           6        1       9                     8     $8.75
...          ...      ...     ...                   ...        ...
Q2 2342     1829        1      23                    92    $11.25
   2343     1830        1      23                  1043    $11.25
   2344     1832        1      10                   116     $8.75
   2345     1832        1       8                     0     $4.45
   2346     1834        1      20                   515    $11.25

[4622 rows x 5 columns]

In [5]:
# Convert item_price to float after removing '$' sign
temp_df["item_price"] = temp_df["item_price"].replace('[\\$,]', '', regex=True).astype(float)

In [6]:
# 3
# Find most sold items in each quarter
most_sold_items = temp_df.reset_index().groupby(['level_0'])['quantity'].sum().reset_index()
most_sold_items

  level_0 quantity
0      Q1     2448
1      Q2     2524

In [7]:
temp_df['item_price'] = temp_df['item_price'].apply(lambda x:round(float(x)*87.79,2))

In [8]:
# 4
# Find most revenue-generating items in each quarter
temp_df['revenue'] = temp_df['quantity'] * temp_df['item_price']
revenue_per_quarter = temp_df.reset_index().groupby(['level_0'])['revenue'].sum().reset_index()
revenue_per_quarter

  level_0     revenue
0      Q1   1751826.1
1      Q2  1692796.21

In [9]:
# 5
# Find average order price per quarter
avg_order_price = temp_df.reset_index().groupby('level_0')['item_price'].mean()
avg_order_price

level_0
Q1    665.197798
Q2    645.695744
Name: item_price, dtype: float64

### `Q-6` From the IPL wala dataset you have to find the Purple cap holder each season.

*Note: Bowler with most no wickets in a season gets purple cap. If more than one bowler have same no of wickets in the season, one with least ecomnomy among them is purple cap holder.*

Bowler's Economy = runs-conceded per six balls

In [10]:
balls = pd.read_csv('../datasets/IPL_Ball_by_Ball_2008_2022.csv')
df = pd.read_csv("../datasets/IPL_Matches_2008_2022.csv")
matches = balls.merge(df,on='ID',how='inner')

### `Q-7:` Best bowler in death overs.
*Note: Have taken most no of wickets in case of tie with least economy*

Death Overs - [16-20]

In [11]:
death_over = matches[(matches['overs']>=16)&(matches['overs']<=20)]
bowler_stats = death_over.groupby('bowler').agg(
    total_wickets=("isWicketDelivery", "sum"),  # Total wickets in death overs
    total_runs=("total_run", "sum"),  # Runs given in death overs
    total_balls=("ballnumber", "count")  # Balls bowled in death overs
)
bowler_stats["economy_rate"] = bowler_stats["total_runs"] / (bowler_stats["total_balls"] / 6)

In [12]:
best_bowler = bowler_stats.sort_values(by=["total_wickets", "economy_rate"], ascending=[False, True]).head(1)
print(best_bowler)

          total_wickets  total_runs  total_balls  economy_rate
bowler
DJ Bravo            115        1842         1179      9.374046

### `Q-8` Batsman record season wise

Make a function which takes a input `batsman_name` and it returns a dataframe.
Columns of the data frame are - `['Season','Innings', 'TotalRuns', 'Avg', 'HighestScore','StrikeRate']`.
* In result make `Season` column as index.

* Avg - total_runs/ no of time got out. - player_out column will help.
* StrikeRate -(total_runs/ balls faced) * 100- wides are not included in batsman ball faced counts. No balls are included. -> Extra_type column will help
* Batsman Can score runs on No Balls.
* Batsman can get out on No Ball or Wides. And even while being on non-striker. Keep these things in mind before masking.

In [13]:
batter_df = matches.copy()
batter_df['isBatsmanBall'] = batter_df['extra_type'].apply(lambda x :1 if x!='wides' else 0)
def bats_re(batsman):
    bdf =batter_df[batter_df.batter==batsman].copy()
    bdf['isBatsmanOut']= bdf.batter== bdf.player_out
    df = bdf.groupby(['Season','ID'],as_index=False)[['batsman_run','isBatsmanBall','isBatsmanOut']].sum()
    innings = df.groupby('Season').ID.count()

    df = df.groupby('Season').agg(
        {
            'batsman_run':('sum','max'),
            'isBatsmanBall':'sum',
            'isBatsmanOut':'sum'
        }
    )
    df['Innings']=innings
    df['TotalRuns']= df[('batsman_run','sum')]
    df['Avg'] = df['TotalRuns']/df[('isBatsmanOut','sum')]
    df['HighestScore'] = df[('batsman_run','sum')]
    df['StrikeRate'] = df['TotalRuns']/df [('isBatsmanBall','sum')]*100
    return df.drop(columns=['batsman_run','isBatsmanBall','isBatsmanOut'])
bats_re('MS Dhoni')

        Innings TotalRuns         Avg HighestScore  StrikeRate

Season
2007/08      14       414   41.400000          414  133.548387
2009         13       332   41.500000          332  127.203065
2009/10      11       287   31.888889          287  136.666667
2011         13       392   43.555556          392  158.704453
2012         17       358   32.545455          358  128.776978
2013         16       461   46.100000          461  162.897527
2014         15       371   74.200000          371  148.400000
2015         17       372   31.000000          372  121.967213
2016         12       284   40.571429          284  135.238095
2017         15       290   26.363636          290  116.000000
2018         15       455   75.833333          455  150.662252
2019         12       416  104.000000          416  134.627832
2020/21      12       200   25.000000          200  116.279070
2021         11       114   16.285714          114  106.542056
2022         12       232   33.142857          232  123.404255

### `Q-9` Using both dataset, make a dataframe as described below

Data Frame columns-> `['PlayerOfThematch', 'BattingFigure', 'BowlingFigure']`

* BattingFigure->`<runs>/<balls>`
* BowlingFigure->`<wicket>/<runs-conceded>`

DataFrame should have one record for each match.

Say 'V Kohli' got POM award then in dataset include his batting figure of that match. Say he scored 112runs in 76 balls. And he hasn't bowled so Bowling Figure will be NaN
```
PlayerOfThematch BattingFigure BowlingFigure
V Kohli          112/76         nan  

```

In [14]:
balls
matches

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

## **Questions Based on Iris Dataset**

- **Sepal All:** https://docs.google.com/spreadsheets/d/e/2PACX-1vT58ekmHTwptX7Bs4QOy6YByA1HMvYTACeeIjrKhHE0Pg1K_3egewHMKMh02zN9D5-yHVXfvuaa3s5u/pub?gid=2028782809&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating this sub-dataset.
    - **Id:** Id of the records.
    - **SepalLengthCm:** Sepal length of flowers in cm
    - **SepalWidthCm:** Sepal width of flowers in cm

- **Petal All:** https://docs.google.com/spreadsheets/d/e/2PACX-1vQinLXShrOz4ExNaW1bSQVuvbbhIzJW7G0kkkD2SvqSD6STjLrQQiftgI7BGe10sBZi0CNr2_sJpQAz/pub?gid=1580010789&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating this sub-dataset.
    - **Id:** Id of the records.
    - **PetalLengthCm:** Petal length of flowers in cm
    - **PetalWidthCm:** Petal width of flowers in cm

- **Iris Virginica:** https://docs.google.com/spreadsheets/d/e/2PACX-1vSK39MwduGPHYNgw5yViezoLYCVDKMCWIHzjnt3GZNaxHPFOQLr2q6no_tyqTsOk-VfXleslfGVe9eJ/pub?gid=314231613&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating the sub-dataset.
    - **Id:** Id of the records.
    - **Species:** Name of this species.

- **Iris Versicolor:** https://docs.google.com/spreadsheets/d/e/2PACX-1vTcSFgLnabqIrgIc5WlwvnbbvyyJsgZjR-0E0-4TR-5aHgv_0EP6yNWglkkls3AXM2qHCR5VYzWCoTM/pub?gid=715607857&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating the sub-dataset.
    - **Id:** Id of the records.
    - **Species:** Name of this species.

- **Iris Setosa:** https://docs.google.com/spreadsheets/d/e/2PACX-1vSjqJpdgy2X_oDUUqQ0sSaFKqnnf8MYU4KgJSYgHaHmq0Wb1weMOsJXh-rICHmkLcaTkOwzMYLeh959/pub?gid=2003684803&single=true&output=csv
    - **Unnamed 0:** Unused column. This column is created when creating the sub-dataset.
    - **Id:** Id of the records.
    - **Species:** Name of this species.

In [15]:
import pandas as pd
sepal_all = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT58ekmHTwptX7Bs4QOy6YByA1HMvYTACeeIjrKhHE0Pg1K_3egewHMKMh02zN9D5-yHVXfvuaa3s5u/pub?gid=2028782809&single=true&output=csv")
petal_all = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQinLXShrOz4ExNaW1bSQVuvbbhIzJW7G0kkkD2SvqSD6STjLrQQiftgI7BGe10sBZi0CNr2_sJpQAz/pub?gid=1580010789&single=true&output=csv")

virginica = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSK39MwduGPHYNgw5yViezoLYCVDKMCWIHzjnt3GZNaxHPFOQLr2q6no_tyqTsOk-VfXleslfGVe9eJ/pub?gid=314231613&single=true&output=csv")
versicolor = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTcSFgLnabqIrgIc5WlwvnbbvyyJsgZjR-0E0-4TR-5aHgv_0EP6yNWglkkls3AXM2qHCR5VYzWCoTM/pub?gid=715607857&single=true&output=csv")
setosa = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSjqJpdgy2X_oDUUqQ0sSaFKqnnf8MYU4KgJSYgHaHmq0Wb1weMOsJXh-rICHmkLcaTkOwzMYLeh959/pub?gid=2003684803&single=true&output=csv")

### `Q-9:` Plot a bar chart of the average Sepal Length  of Virginica and average Petal length of Setosa flower.

In [16]:
sepal_all['SepalLengthCm'].mean()
setosa['Species'].unique()
virginica

    Unnamed: 0   Id         Species
0          100  101  Iris-virginica
1          101  102  Iris-virginica
2          102  103  Iris-virginica
3          103  104  Iris-virginica
4          104  105  Iris-virginica
5          105  106  Iris-virginica
6          106  107  Iris-virginica
7          107  108  Iris-virginica
8          108  109  Iris-virginica
9          109  110  Iris-virginica
10         110  111  Iris-virginica
11         111  112  Iris-virginica
12         112  113  Iris-virginica
13         113  114  Iris-virginica
14         114  115  Iris-virginica
15         115  116  Iris-virginica
16         116  117  Iris-virginica
17         117  118  Iris-virginica
18         118  119  Iris-virginica
19         119  120  Iris-virginica
20         120  121  Iris-virginica
21         121  122  Iris-virginica
22         122  123  Iris-virginica
23         123  124  Iris-virginica
24         124  125  Iris-virginica
25         125  126  Iris-virginica
26         126  127  Iris-virginica
27         127  128  Iris-virginica
28         128  129  Iris-virginica
29         129  130  Iris-virginica
30         130  131  Iris-virginica
31         131  132  Iris-virginica
32         132  133  Iris-virginica
33         133  134  Iris-virginica
34         134  135  Iris-virginica
35         135  136  Iris-virginica
36         136  137  Iris-virginica
37         137  138  Iris-virginica
38         138  139  Iris-virginica
39         139  140  Iris-virginica
40         140  141  Iris-virginica
41         141  142  Iris-virginica
42         142  143  Iris-virginica
43         143  144  Iris-virginica
44         144  145  Iris-virginica
45         145  146  Iris-virginica
46         146  147  Iris-virginica
47         147  148  Iris-virginica
48         148  149  Iris-virginica
49         149  150  Iris-virginica

### `Q-10:` Create the complete dataset by uisng the below datasets:
- virginica
- versicolor
- setosa
- sepal all
- petal all

This dataset should have these below column names in order:
1. Id
2. Species
3. SepalLengthCm
4. SepalWidthCm
5. PetalLengthCm
6. PetalWidthCm

Also, the dataset should be shuffled means the `Id` column should not be in increasing or decreasing order. So, make a dataset which has the shuffled Id column. You can use `DataFrame.sample()` method to shuffle.

### `Q-11:` Find out the maximum and minimum sepal width and petal width of Setosa and Versicolor. To do this:
- First create a dataset with merging the required datasets
- After that, use `groupby` to create groups based on the "Species" column.
- Then find out which are asked in this question.


The output should be like this:
```bash
Minimum Sepal width of Setosa is 2.3
Maximum Sepal width of Setosa is 4.4

**************************************************

Minimum Sepal width of Versicolor is 2.0
Maximum Sepal width of Versicolor is 3.4

**************************************************
```

In [17]:
# code here